.App {
  text-align: center;
}

.App-header {
  background-color: #060CE9;
  height: 100px;
  padding: 20px;
  color: #FFCC00;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@font-face {
   font-family: myFirstFont;
   src: url('./fonts/emulogic.ttf');
}

* {
   font-family: myFirstFont;
   font-size: 12px;
   word-wrap: normal;
   white-space: normal;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
